<h1>Welcome <%= current_user.email %></h1>
<p>Here is your task list!</p>

<div class="row">
  <div class="col-md-12">
    <ul id="primary_task_list">
      <%= render @tasks %>
      <%= render(:partial => 'tasks/new_task_button') %>
    </ul>
  </div>
</div>


<div id="newTaskModal" class="modal fade in" class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">New Task</h4>
      </div>
      <div class="modal-body">
        Loading...
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->