// Place all the styles related to the Welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

span.task_title{
  margin-bottom: 0px;
  text-decoration: underline;
}

li{
	padding-top: 5px;
}